.searchForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    width: 90%;
    border-radius: 5px;
}

.customerSearchTitle {
    font-size: 1.3rem;
    padding: 10px;
}

.customerSearchBar {
    font-size: .8rem;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.customerSearchBarInput {
    margin-top:5px;
    text-transform: uppercase;
    border: none;
    border-bottom: 2px #444444;
}

.resetButton {
    padding-left: 5px;
}


