.tableContainer {
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 5%;
    box-shadow: 0 5px 5px -1px rgba(0,0,0,.2);
    width: 90%;
    max-width: 1000px;
}


table, th, td {
    border: 1px solid #c3c3c3;
}

.peopleTable {
    width: 90%;
    font-size: 1em;
}


.tableHeaderRow {
    text-transform: uppercase;
    text-align: center;
}

.tableDataRow {
    text-align: center;
}

.tableHeader {
    padding: 10px;
}

.tableData {
    padding: 10px;
}

@media (max-width: 1100px) {

    .peopleTable {
        font-size: .8em;
    }

    .tableHeaderRow {
        padding: 10px;
    }
    
    .tableHeader {
        padding: 10px;
    }
    
    .tableDataRow {
        padding: 10px;
    }
    
    .tableData {
        padding: 10px;
    }
}

@media (max-width: 800px) {

    .peopleTable {
        font-size: .5em;
    }

    .tableHeaderRow {
        padding: 5px;
    }
    
    .tableHeader {
        padding: 5px;
    }
    
    .tableDataRow {
        padding: 5px;
    }
    
    .tableData {
        padding: 5px;
    }
}