.sectionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tableContainer {
    margin-top: 7vh;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2%;
    padding-bottom: 5%;
    margin-bottom: 5%;
}

.tableTitle {
    color: #000000;
    margin-bottom: 2%;
}

table, th, td {
    border: 1px solid #c3c3c3;
    border-radius: 5px;
}

.peopleTable {
    width: 90%;
    font-size: 1.2em;
}

@media (max-width: 1100px) {

    .peopleTable {
        font-size: .8em;
    }

    .tableHeaderRow {
        padding: 5px;
    }
    
    .tableHeader {
        padding: 5px;
    }
    
    .tableDataRow {
        padding: 5px;
    }
    
    .tableData {
        padding: 5px;
    }
}

@media (max-width: 800px) {

    .peopleTable {
        font-size: .5em;
    }

    .tableHeaderRow {
        padding: 2px;
    }
    
    .tableHeader {
        padding: 2px;
    }
    
    .tableDataRow {
        padding: 2px;
    }
    
    .tableData {
        padding: 2px;
    }
}


.tableHeaderRow {
    padding: 10px;
}

.tableHeader {
    padding: 10px;
    text-transform: uppercase;
}

.tableDataRow {
    padding: 10px;
}

.tableData {
    padding: 10px;
}

@media (max-width: 1400px) {

    .pageTitle {
        font-size: 8em;
    }
    
    .pageSubtitle {
        font-size: 4em;
    }
}

@media (max-width: 1100px) {

    .pageTitle {
        font-size: 7em;
    }

    .pageSubtitle {
        font-size: 3em;
    }
}


@media (max-width: 900px) {

    .pageTitle {
        font-size: 5em;
    }

    .pageSubtitle {
        font-size: 2em;
    }
}