body {
    padding-top: 10vh;
    background-color: #0058ac;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

i {
    color: #444444;
    padding-right: 10px;
}

footer {
    height: 10vh;
    align-self: end;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20vh;
}

.footerCopyright {
    font-size: .7rem;
    text-align: center;
}

.userIcon {
    color: #000000;
}

/* PAGE TITLE AND HEADER STYLES */
.jumboTron {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pageTitleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 7vh;
}

.pageTitle {
    height: 18vh;
    color: #ffffff;
    font-size: 7rem;
    margin-top: 5vh;
    padding: .7rem;
    width: 100%;
    text-align: center;
}


.pageSubtitle {
    height: 10vh;
    color: #ffffff;
    font-size: 2.2rem;
    width: 100%;
    text-align: center;
    margin-top: 5vh;
}

.sectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 96%;
    margin: 20px;
}

.miniSectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
}

/* NAV STYLES */

.myLogo {
    margin-left: 10px;
    width: 30px;
    height: 30px;
}

.link {
    color: #444444;;
}

.linkContainer {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navItem {
    margin: 0px 5px 0px 5px;
    font-size: .8rem;
}
.navbar {
    box-shadow: 0 5px 5px -1px rgba(0,0,0,.2);
    margin-bottom: 50px;
}

.top {
    padding-top: 5px;
}

.greenText {
    color: #83bb43;
}

.greyText {
    color: #979797;
}

.redText {
    color: #eb3d30;
}

/* MAIN BUTTON STYLES */

.squishyButton {
    outline: none;
    border: none;
    cursor: pointer;
    display: block;
    position: relative;
    background-color: #ffffff;
    font-weight: 300px;
    color: #444444;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1em 1em;
    margin: 1em;
    border-radius: .5em;
    box-shadow: 0 .3em #9f9f9f;
    font-size: 1.5rem;
}

.squishyButton:hover {
    box-shadow: 0 .2em #9f9f9f;
    top: .1em;
    text-decoration: none;
    color: #444444;
}

.squishyButton:active {
    box-shadow: 0 0 #9f9f9f;
    top: .3em;
}

/* RESPONSIVE STYLES */

@media (max-width: 1400px) {

    .pageTitle {
        font-size: 5em;
    }
    
    .pageSubtitle {
        font-size: 3em;
    }

    .squishyButton {
        font-size: 1.4rem;
    }
}


@media (max-width: 900px) {

    .pageTitle {
        font-size: 3em;
        height: 15vh;
        margin-bottom: 7vh;
    }

    .pageSubtitle {
        height: 10vh;
        font-size: 1em;
        margin-top: 5vh;
    }

    .pageTitleContainer {
        height: 15vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10vh;
    }

    .jumboTron {
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.button {
    outline: none;
    border: none;
    cursor: pointer;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 1px;
    padding: .2em 1em;
    margin: 5px;
    border-radius: .3em;
}

.button:hover {
    text-decoration: none;
    color: white;
}

.button-large {
    font-size: 2em;
    letter-spacing: 1px;
    padding: .5em 1em;
    margin: 5px;
    border-radius: .5em;
    text-transform: uppercase;
}

.button-large:hover {
    text-decoration: none;
    color: white;
}

.blue {
    background-color: #1e8feb;
    color: #ffffff;
}

.blue:hover {
    background-color:#0058ac;
}

.red {
    background-color: #eb3d30;
    color: #ffffff;
}

.red:hover {
    background-color: #a30000;
}

.green {
    background-color: #83bb43;
    color: #ffffff;
}

.green:hover {
    background-color: #467f00;
}

.grey {
    background-color:#979797;
    color: #ffffff;
}

.grey:hover {
    background-color: #5e5e5e;
}

.form {
    padding: 10px;
    background-color: #ffffff;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 5px -1px rgba(0,0,0,.2);
    max-width: 800px;
}

.sectionTitleContainer {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sectionTitle {
    width: 100%;
    font-size: 1.7rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

@media (max-width: 800px) {

    .sectionTitle {
        font-size: 1.3rem;
        letter-spacing: 1px;
    }
}

.formEntry {
    padding: 3px;
    text-transform: uppercase;
    font-size: .8rem;
    min-width: 150px;
    width: 50%;
}

.fieldInput {
    width: 90%;
}

.fieldError {
    color: #eb3d30;
}

.buttonContainer {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.homeButtonContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 5vh;
    max-width: 1000px;
}

.message {
    font-size: 1em;
}

.errorMessageBox {
    background-color: #fabfbf;
    border-radius: 5px;
    padding: 10px;
    max-width: 90%;
    box-shadow: 0 5px 5px -1px rgba(0,0,0,.2);
}

.errorMessageTitle {
    color: #a30000;
    font-size: 1rem;
    text-align: center;
    padding: 10px;
}

.errorMessage {
    color: #a30000;
    font-size: .8rem;
    text-align: center;
    padding: 10px;
}

.returnButtonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.messageBox {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 7px;
    max-width: 90%;
    box-shadow: 0 5px 5px -1px rgba(0,0,0,.2);
}

.messageTitle {
    margin: 15px;
    font-size: 1.3rem;
    text-align: center;
    padding: 7px;
}

.successMessageBox {
    background-color: #b4d787;
    border-radius: 5px;
    padding: 7px;
    max-width: 90%;
    box-shadow: 0 5px 5px -1px rgba(0,0,0,.2);
}

.successMessageTitle {
    color: #558e16;
    margin: 10px;
    font-size: 1.3rem;
    text-align: center;
    padding: 7px;
}

.dontDisplay {
    display: none;
}

.searchForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 5px 5px -1px rgba(0,0,0,.2);
    width: 90%;
    max-width: 1000px;
    margin: 0 3vh 0 3vh ;
}

.searchBar {
    font-size: .8rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-bottom: 10px;
}

.searchBarInput {
    margin-top:6px;
    text-transform: uppercase;
    border: none;
    border-bottom: 2px #444444;
}

.loginForm {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 5px 5px -1px rgba(0,0,0,.2);
    max-width: 350px;
}

.loginFormDescription {
    text-align: center;
    padding: 0 20px 0 20px;
}

.customerSearchTitle {
    font-size: 1.3rem;
    padding: 10px;
}

.inputContainer {
    font-size: .8rem;
    padding: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.input {
    margin-top: 2vh;
    margin-right: 10px;
    text-transform: uppercase;
    border: none;
    display: flex;
    justify-content: center;
    width: 100%;
}

.reportFormEntry {
    padding: 5px;
    min-width: 150px;
    width: 50%;
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.reportFormEntry {
    padding: 5px;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    border: 0;
}

.reportFormHeading {
    text-transform: uppercase;
}

.reportFormDescription {
    width: 100%;
}

.reportForm {
    padding: 10px;
    background-color: #ffffff;
    width: 80%;
    max-width: 600px;
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 5px -1px rgba(0,0,0,.2);
}
