body {
    background: url("../images/MountainBackground.jpg");
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* PAGE TITLE AND HEADER STYLES */
.jumboTron {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pageTitleContainer {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pageTitle {
    color: #ffffff;
    font-size: 9rem;
    padding: .5rem;
    width: 100%;
    text-align: center;
}

.pageSubtitle {
    color: #ffffff;
    font-size: 4rem;
    width: 100%;
    text-align: center;
}

/* NAV STYLES */

.myLogo {
    margin-left: 10px;
    width: 50px;
    height: 50px;
}

.link {
    color: #000000;
}

.linkContainer {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navItem {
    margin: 10px;
}

/* MAIN BUTTON STYLES */

.squishyButton {
    outline: none;
    border: none;
    cursor: pointer;
    display: block;
    position: relative;
    background-color: #ffffff;
    font-size: 2em;
    font-weight: 300px;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: .5em 1em;
    margin: 0 auto;
    border-radius: 1.15em;
    box-shadow: 0 .3em #9f9f9f;
}

.squishyButton:hover {
    box-shadow: 0 .2em #9f9f9f;
    top: .1em;
}

.squishyButton:active {
    box-shadow: 0 0 #9f9f9f;
    top: .3em;
}

/* RESPONSIVE STYLES */

@media (max-width: 1400px) {

    .pageTitle {
        font-size: 8em;
    }
    
    .pageSubtitle {
        font-size: 4em;
    }
}

@media (max-width: 1100px) {

    .pageTitle {
        font-size: 7em;
    }

    .pageSubtitle {
        font-size: 3em;
    }

    .squishyButton {
        font-size: 1.5em;
    }
}


@media (max-width: 900px) {

    .pageTitle {
        font-size: 5em;
    }

    .pageSubtitle {
        font-size: 2em;
    }

    .squishyButton {
        font-size: .8em;
    }
}